<%= form_with model: [@category, task], class: "task-form" do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date, min: Date.today, placeholder: "Select a date" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { selected: task.category_id || Category.first.id }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Task::VALID_STATUSES, { selected: task.status || 'to do' }, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
