<header>
  <h2>Welcome, <%= current_user.email %></h2>
  <p>Organize your tasks and boost your productivity!</p>
</header>


<section class="stats">
  <h3>Quick Stats</h3>
  <div class="stats-grid">
    <p>Total Categories: <%= Category.count %></p>
    <p>Total Tasks: <%= Task.count %></p>
    <p>Completed Tasks: <%= Task.where(status: true).count %></p>
  </div>
</section>


<section class="tasks-due-today">
  <% tasks_due_today = Task.where(due_date: Date.today.all_day) %>
  <p><%= Date.today.strftime("%B %d, %Y") %></p>
  <ul>
    <% tasks_due_today.each do |task| %>
      <li>
        <div class="task-item">
          <span><%= task.name %></span>
          <span><%= task.category.name %></span>
          <%= link_to "details", category_task_path(task.category, task) %>
        </div>
      </li>
    <% end %>
  </ul>
</section>


<section id="categories-container">
  <div>
    <h3>Categories</h3>
    <p><%= link_to "Create new Category", new_category_path, class: "action-link" %></p>
  </div>
  <div>
    <% @categories.each do |category| %>
      <div class="category-item">
        <%= link_to category.name, category %>
      </div>
    <% end %>
  </div>
</section>
