<h2><%= @category.name %></h2>
<%= @category.details %>
<p><%= link_to "Go Back", categories_path %></p>
<p><%= link_to "Edit", edit_category_path(@category) %></p>
<p><%= link_to "Delete", category_path(@category), 
    data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %>
</p>

<div>
    <div>
        <p><%= link_to "Create new task", new_category_task_path(@category) %></p>
    </div>
    <p>Tasks</p>
    <%= render @category.tasks %>
</div>